<h1>Lista de tareas !</h1>

<div class="row">
  <% @todos.each do |todo| %>
    <div class="card col-sm-4 text-center pt-3">
      <%= image_tag todo.image,class:'card-img-top img-fluid' %>
      <div class="card-body">
        <h5 class="card-title"><%= todo.name %></h5>
        <%= link_to 'Ver detalle', todo, class:'btn btn-primary btn-sm'%>

          <%= link_to todo_tasks_path(todo), method: :post, class:'btn btn-success btn-sm' do %>
            <i class="fas fa-check"></i>
          <% end %>
          <%= link_to todo_uncompleted_path(todo), method: :delete, class:'btn btn-danger btn-sm' do %>
            <i class="fas fa-times"></i>
          <% end %>
      </div>
    </div>
  <% end %>
</div>